{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<style>
    ::-webkit-scrollbar {
  width: 10px;
}
</style>
{% endblock %}

{% block body_block %}
<!-- / main menu-->

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h2 class="content-header-title">Output consolidation</h2>
            </div>
        </div>
        <div class="content-body"><!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                {% if messages %}
                <div class="messages p-3 bg-dark">
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">

                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="card card-body" style="padding: 20px;">
                            <form action="" method="post">
                                {% csrf_token %} 
                                {{form}}
                                <br>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

{% if process_records %}
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="card">
                         
                            <div class="card-body collapse in">
                                <div class="card-block">

                                    <form method="post" action="{% url 'output_consolidation_save' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{output_consolidation_level}}" name="output_consolidation_level">
                                        <input type="hidden" value="{{output_consolidation_level_id}}" name="output_consolidation_level_id">
                                        <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>API Name</th>
                                                    <th>API URL</th>
                                                    <th>API method</th>
                                                    <th>Output Parameters</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for api in process_records %}
                                                <tr>
                                                    <td>{{forloop.counter}} <input type="hidden" name="api_id" value="{{api.API_id}}"></td>
                                                    <td>{{api.API_name}}</td>
                                                    <td>{{api.full_url}}</td>
                                                    <td>{{api.Http_verbs}}</td>
                                                    <td> 
                                                        {% for op_parameter in api.out_parameter %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="{{api.API_id}}" value="{{op_parameter.parameter_id}}" id="{{op_parameter.parameter_id}}{{api.API_id}}">
                                                            <label class="form-check-label" for="{{op_parameter.parameter_id}}{{api.API_id}}">
                                                                {{op_parameter.parameter_name}}
                                                            </label>
                                                          </div>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                        <div class="form-actions center">
                                            <button type="submit" class="btn btn-success" name="save_btn" value="save_btn">
                                                <i class="icon-check2"></i> Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>


{% endblock %}